body {
background:#e2e8f0;
}

textarea {
    resize:none;
    overflow:hidden;
}

textarea::-webkit-scrollbar {
  display: none;
}

.navbar {
    background-color:#B8CEEC;
}

.nav-item {
    font-size:1.2rem;
}

a {
    color:inherit;
    text-decoration:inherit;
}

.createPostBtn {
    padding:10px 0;
    margin:0 auto;
    width:200px;
    font-weight:bold;
    border-radius:10px;
    text-align:center;
    color:white;
}

.createPostBtn:hover {
    color:white;
}

.card {
    width: 18rem;
    text-align:center;
    padding:0;
}

.post-card:hover {
    color:#8041D9;
}

.post-card:hover .card-title {
    font-size:1.5rem;
}

.post-card:hover .card-text {
    font-size:1.2rem;
}

.post-card:hover .card-footer {
    font-size:0.9rem;
}

.card-body {
    height:11rem;
}

.card-title {
    font-weight:bold;
}

.card-footer {
    font-weight:bold;
    font-size:0.8rem;
    background:#E8D9FF;
}


.logo {
    width:100px;
    height:70px;
    border-radius:30px;
}

.userForm {
    width:500px;
    margin:10px auto;
}

.userForm > h2 {
    border-bottom:1px solid;
    padding:10px 0;
}

.userForm > form {
    margin-top:30px;
}

.userForm input {
    margin-top:10px;
}

.btn-signup {
    border:0;
    background:#91CADF;
    padding:10px 30px;
    margin-top:10px;
    border-radius:30px;
    color:white;
    transition:0.3s;
}

.btn-signup:hover {
    background:#0090B7;
}

.btn-login > a {
    border:0;
}

.navbar-toggler {
    border-radius:50px;
    font-weight:bolder;
    box-shadow:3px 3px;
    padding:10px 20px;
    background:#7DD4FF;
    transition:0.3s;
}

.navbar-toggler:hover {
    background:#155575;
}

.navbar-toggler > span {
    color:#155575;
    transition:0.3s;
}

.navbar-toggler:hover > span {
    color:white;
}

.offcanvas-body a {
    width:100px;
    color:#0080FF;
    text-align:center;
    border-radius:30px;
    padding:5px;
}

.offcanvas-body a:hover {
    background:#66B2FF;
    color:white;
}


.detail-form h1 {
    background:#D8DEF0;
    margin-bottom:0;
    margin-top:30px;
    font-size:3rem;
    border-radius:20px;
    padding:10px 0;
}

.detail-content {
    padding:10px;
    font-size:1.2rem;
}

.author-name {
    font-weight:bold;
    font-size:1.5rem;
}

.modify-btn > a{
    border-radius:10px;
    padding:0 10px;
    border:0;
    color:#556CAB;
}

.modify-btn > a:hover{
    background:#66B2FF;
    border:0;
}

.none-post {
    color:#DCDCDC;
    width:1000px;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:80px;
}

.side-menu > div {
    margin:100px 0;
}

.side-menu a {
    font-size:30px;
    padding:10px 20px;
}

.side-active {
    background:#0080FF;
    color:white;
    border-radius:30px;
}

.side-active:hover {
    color:#9CF;
}

.user_info_list > li {
    font-size:15px;
}

.user_info_table th {
    text-align:start;
    width:10%;
}

.post_list_form {
    border:5px double #cce5ff;
    background:white;
    border-radius:30px;
}

.search_and_create {
    border:2px dashed #CFE4EF;
    background:#BECADE;
    padding:10px;
    border-radius:10px;
}