<div th:fragment="alarm" th:each="alarm : ${alarmList}">
    <div class="d-flex justify-content-center align-items-center">
        <span th:if="${alarm.createDate > newTime}" class="badge bg-danger me-2">N</span>
        <div th:if="${alarm.type.equals('create')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님이 <a th:href="@{|/post/detail/${alarm.postId}|}">새 글</a>을 올렸습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('comment')}">
            <a th:href="@{|/post/detail/${alarm.postId}|}">내 글</a>
            <span>에 댓글이 달렸습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('reserveCreate')}">
            <a th:href="@{|/post/detail/${alarm.postId}|}">예약한 글</a>
            <span>이 등록되었습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('requestFriend')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님에게 친구 요청을 보냈습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('receiveFriendRequest')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님에게 친구 요청이 왔습니다.</span>
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                열기
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">친구 요청</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card" style="height:200px;">
                                <div class="card-body">
                                    <img th:src="@{${alarm.target.picture}}" style="width:130px; height:130px; border-radius:10px;">
                                    <h5 class="card-title text-dark mt-3 mb-0" th:text="${alarm.target.nickname}"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <a th:href="@{|/user/friend/refuse/${alarm.target.username}|}" type="button" class="btn btn-secondary" style="color:white;text-decoration:none;">거절</a>
                            <a th:href="@{|/user/friend/accept/${alarm.target.username}|}" type="button" class="btn btn-primary" style="color:white;text-decoration:none;">수락</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${alarm.type.equals('acceptFriend')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님과 친구가 되었습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('refuseFriend')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님이 친구 요청을 거절했습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('sendMessage')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님에게 쪽지를 보냈습니다.</span>
        </div>
        <div th:if="${alarm.type.equals('receiveMessage')}">
            <a th:text="${alarm.target.nickname}"
               th:href="@{|/user/info/${alarm.target.username}|}"></a>
            <span>님에게 쪽지를 받았습니다.</span>
        </div>
    </div>
    <span class="badge bg-dark"
          th:text="${#temporals.format(alarm.createDate, 'yyyy-MM-dd HH:mm')}"></span>
</div>