<nav th:fragment="navbar" class="navbar bg-body-tertiary mb-2">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand mx-3" href="/">
                <img class="logo" th:src="@{/Doran.png}">
            </a>
            <div class="nav-item mx-3"><a class="nav-link" href="/">홈</a></div>
            <!--상단 바 중앙-->
            <div class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center me-3">
            <div class="me-5">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#portalSearch" aria-expanded="false" aria-controls="collapseExample">
                    포털 사이트 검색
                </button>
                <div class="collapse" id="portalSearch">
                    <div class="card card-body p-3" style="height:auto;">
                        <input type="search" class="form-control mb-3" placeholder="구글 검색" style="border:2px solid #E6776A"
                               onkeydown="if (window.event.keyCode == 13) window.open('https://www.google.com/search?q=' + this.value);">
                        <input type="search" class="form-control" placeholder="네이버 검색" style="border:2px solid #8DD58F"
                               onkeydown="if (window.event.keyCode == 13) window.open('https://search.naver.com/search.naver?query=' + this.value);">
                    </div>
                </div>
            </div>
            <div class="btn-login btn-group m-3" role="group" aria-label="Basic example" sec:authorize="isAnonymous()">
                <a type="button" class="btn btn-primary" th:href="@{/user/login}">로그인</a>
                <a type="button" class="btn btn-outline-primary" th:href="@{/user/signup}">회원가입</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation" sec:authorize="isAuthenticated()">
                <span th:text="${user.nickname}"></span>
            </button>
        </div>
        <!--오른쪽 네비바 시작-->
        <div sec:authorize="isAuthenticated()" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight:bold;">프로필</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="card ms-5" style="width:18rem;">
                            <div class="card-body">
                                <img th:src="@{${user.picture}}" style="width:130px; height:130px; border-radius:10px;">
                                <h5 class="card-title text-dark mt-3 mb-0" th:text="${user.nickname}"></h5>
                            </div>
                            <div class="card-body" style="height:60px;">
                                <a th:href="@{/user/info}" class="card-link ch_myInfo">내 정보</a>
                                <a th:href="@{/user/logout}" class="logout_link card-link" style="color:red;"
                                   onmouseover="this.style='background:#F66;color:white;'"
                                   onmouseout="this.style='background:white;color:red;'">로그아웃</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>