<html layout:decorate="~{layout}">
<div layout:fragment="content" class="detail-form mx-auto" style="width:80%">
    <div class="d-flex justify-content-between">
        <div style="width:70%;">
            <div id="subject" th:text="${post.subject}" class="text-center"></div>
            <div class="d-flex justify-content-between align-items-center border-bottom">
                <div>
                    <span class="author-name" th:text="${post.author.nickname}"></span>
                    <span class="post-createDate"
                          th:text="${#temporals.format(post.createDate, 'yyyy년 MM월 dd일 HH:mm:ss')}"></span>
                </div>
                <div>
                    <div sec:authorize="isAuthenticated()"
                         th:if="${user.username == post.author.username}"
                         class="btn-group modify-btn">
                        <a th:href="@{|/post/modify/${post.id}|}" class="btn btn-outline-primary">수정</a>
                        <a href="javascript:void(0);" class="delBtn btn btn-outline-primary"
                           th:data-uri="@{|/post/delete/${post.id}|}">삭제</a>
                    </div>
                    <!--좋아요-->
                    <a th:href="@{|/post/like/${post.id}|}" th:if="${!like}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-chat-square-heart" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                            <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                        </svg>
                    </a>
                    <a th:href="@{|/post/unlike/${post.id}|}" th:if="${like}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-chat-square-heart-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                        </svg>
                    </a>
                    <span style="font-size:20px;font-weight:bold;" th:text="|+${#lists.size(post.liker)}|"></span>
                </div>
            </div>
            <div class="detail-content" th:utext="${post.content}" style="white-space:pre-line;"></div>
        </div>
        <div class="vr"></div>
        <!--댓글-->
        <div class="mt-5" style="width:25%;">
            <form th:action="@{|/comment/create/${post.id}|}" class="my-3" method="post" th:object="${commentForm}">
                <div th:replace="~{form_errors :: error}"></div>
                <div class="input-group">
                <textarea class="form-control overflow-scroll" th:field="*{content}" rows="3"
                          placeholder="댓글을 입력해 주세요"></textarea>
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
            <div th:if="${commentList.totalElements == 0}" class="none-post d-block" style="white-space:pre-line;">
                댓글이
                없습니다
            </div>
            <div class="card my-3" style="width:100%; display:block;" th:each="comment : ${commentList}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${comment.content}"></li>
                    <li class="list-group-item collapse" th:id="|comment_modify_${comment.id}|">
                        <form th:action="@{|/comment/modify/${comment.id}|}" method="post" th:object="${commentForm}">
                            <textarea th:field="*{content}"
                                      placeholder="수정할 내용을 입력해주세요"
                                      class="form-control overflow-scroll"></textarea>
                            <div class="text-end my-2">
                                <button type="submit" class="btn btn-primary">적용</button>
                            </div>
                        </form>
                    </li>
                    <div sec:authorize="isAuthenticated()"
                         th:if="${user.username == comment.author.username}"
                         class="btn-group modify-btn">
                        <a class="btn btn-outline-primary" data-bs-toggle="collapse"
                           th:href="|#comment_modify_${comment.id}|" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            수정
                        </a>
                        <a href="javascript:void(0);" class="delBtn btn btn-outline-primary"
                           th:data-uri="@{|/comment/delete/${comment.id}|}">삭제</a>
                    </div>
                    <li class="list-group-item d-flex justify-content-between align-items-center py-0"
                        style="background:#D8DEF0;">
                        <span th:text="${comment.author.nickname}" style="font-weight:bold; color:#006666;"></span>
                        <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm:ss')}"
                              class="badge text-dark"></span>
                    </li>
                </ul>
            </div>
            <!--댓글 페이징-->
            <ul class="pagination justify-content-center my-5" th:if="${!commentList.isEmpty()}">
                <li class="page-item" th:classappend="${!commentList.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{?page=0}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${commentList.number-1}|}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(0, commentList.totalPages-1)}"
                    th:classappend="${commentList.number == page} ? 'active'"
                    th:if="${page >= commentList.number-2 && page <= commentList.number+2}">
                    <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${commentList.number+1}|}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${commentList.totalPages-1}|}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script layout:fragment="script">
    const delBtn = document.querySelectorAll(".delBtn");
    Array.from(delBtn).forEach(function(element) {
        element.addEventListener('click', function() {
        if(confirm("정말 삭제하시겠습니까?")) location.href = this.dataset.uri;
        });
    });
</script>
</html>