<div th:fragment="userSide" style="width:38%">
    <div class="card mb-3 content">
        <div class="card-body" style="height:400px;">
            <div class="text-end" th:if="${own}"><a th:href="@{/user/info/modifyPicture}"
                                                    class="badge bg-primary text-light">사진 변경</a></div>
            <img th:src="@{${target.picture}}" style="width:200px;height:200px;border-radius:20px;">
            <div class="card-title my-3">
                <h5 class="mb-0" th:text="${target.nickname}"></h5>
                <div class="text-center" th:if="${own}"><a th:href="@{/user/renick}"
                                                           class="badge bg-primary text-light">닉네임 변경</a></div>
            </div>
            <p class="card-text" th:text="${target.job}"></p>
            <p class="card-text text-secondary" th:text="${target.address}"></p>
        </div>
        <div class="mb-3 d-flex justify-content-between" sec:authorize="isAuthenticated()" th:if="${!own}">
            <div class="ms-3">
                <div th:if="${!isFriend}">
                    <a th:href="@{|/user/requestFriend/${target.username}|}" class="btn btn-primary"
                       th:if="${!hasRequest}">친구 요청</a>
                    <a href="#" class="btn btn-secondary disabled" th:if="${hasRequest}">친구 요청 완료</a>
                </div>
                <div th:if="${isFriend}"><a href="#" class="btn btn-secondary disabled">친구 사이</a></div>
            </div>
            <div>
                <a th:href="@{|/user/favorite/${target.username}|}" class="me-3" th:if="${!favorite}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                </a>
                <a th:href="@{|/user/unfavor/${target.username}|}" class="me-3" th:if="${favorite}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="card content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="btn btn-outline-primary" th:href="@{|/user/info/${target.username}|}">메인 정보</a>
            </li>
            <li class="list-group-item">
                <span>작성한 게시물</span>
                <a class="badge bg-dark" th:href="@{|/user/${target.username}/writePost|}"
                   th:text="${#lists.size(target.postList)}"></a>
            </li>
            <li class="list-group-item">
                <span>좋아한 게시물</span>
                <a class="badge bg-dark" th:href="@{|/user/${target.username}/likePost|}"
                   th:text="${#lists.size(target.likePost)}"></a>
            </li>
        </ul>
    </div>
</div>